{{#each this}}
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <img src={{user.avatar}} />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>
            {{project.project_name}}</strong>
          <br />
          {{comment_text}}
          <br />
          -
          {{user.username}}
          <div class="block">
            <small>{{format_posted_date created_at}}</small>
          </div>
        </p>
      </div>
    </div>
  </article>
{{/each}}