<div class="column is-one-quarter">
  <div class="card">
    <div class="control has-icons-left">
      <a href="/dashboard/edit/{{id}}" class="button" id="edit-profile-btn">
      <span class="icon is-left m-2 ml-3">
        <i class="fas fa-2x fa-user-edit"></i>
      </span>
      </a>
    </div>

    <div class="card-image">
      <figure class="image is-128x128 m-auto">
        <img class="is-rounded" src={{avatar}} />
      </figure>
    </div>
    <div class="card-content">
      <div class="">
        <h1 class="title has-text-centered">{{username}}</h1>
      </div>
      <p class="mt-4">
        <strong> About: </strong>{{about}}
      </p>
    </div>
    <nav
      class="breadcrumb is-large has-succeeds-separator"
      aria-label="breadcrumbs"
    >
      <ul>
        <li></li>
        <li>
          <a href="/dashboard">
            <span class="icon is-small">
              <i class="fa fa-trophy" aria-hidden="true"></i>
            </span>
            <span>Projects</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/create">
            <span class="icon is-small">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <span>Create Project</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/comments">
            <span class="icon is-small">
              <i class="fa fa-group" aria-hidden="true"></i>
            </span>
            <span>Comments</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/tasks">
            <span class="icon is-small">
              <i class="fa fa-list" aria-hidden="true"></i>
            </span>
            <span>Tasks</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="has-text-centered">
      <span>Joined {{created_at}}</span>
    </div>
  </div>
</div>