<div class="container">
  <div class="columns is-centered">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src={{project.user.avatar}} />
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong class="is-title">Title:
                    {{project.project_name}}
                  </strong><small>
                    路
                    {{format_posted_date project.created_at}}</small>
                  <br />
                  <strong>Description:</strong>
                  {{project.content}}
                  <br />
                  <strong>Author:</strong>
                  {{project.user.username}}
                  <br />
                  <a class="view-project" href="/project/{{project.id}}"><strong>View
                        Project 路
                      </strong></a>
                  {{#if loggedIn}}
                    <a
                      class="view-project"
                      href="/project/{{project.id}}/comments"
                    ><strong>Comment</strong></a>
                    路
                    <a
                      class="view-project"
                      href="/project/{{project.id}}/tasks"
                    ><strong>Add Task</strong></a>
                  {{else}}
                    <a class="view-comment" href="/login"><strong>Comment 路
                      </strong></a>
                    <a class="view-task" href="/login"><strong>Add Task</strong></a>
                    <br />
                  {{/if}}

                </p>
              </div>
              {{> comments-main project.comments }}
            </div>
          </article>
          {{#if loggedIn}}
            {{> comment-box }}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>